---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="关于">
  <div class="page">
    <h1>关于</h1>
    <p>
      这个网页是由袁焕予(C_L1gh7)创建的个人博客网站，使用Astro框架构建。
    </p>
    
    <p>
      目前还没有什么东西，整体网页还在维护中，还请大家多多包涵。
    </p>
    
  </div>
</BaseLayout>

<style>
  .page {
    max-width: 760px;
    margin: 0 auto;
  }
</style>