---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="首页">
  <div class="index-content framed">
    <h1 id="hello-there">👋你好! 我是 袁焕予 / C_L1gh7</h1>
    <p><strong>光电信息科学与工程</strong>本科在读</p>
    
    <p>💡 这里是我的个人博客：</p>
    <ul>
      <li>🧪 科研历程和项目介绍</li>
      <li>📖 学习笔记以及技术分享</li>
      <li>💭 个人随笔和闲聊</li>
    </ul>
    
    <p>⚙️ 我的技术栈：</p>
    <ul>
      <li>💻 编程语言：Python, C</li>
      <li>📊 数据处理：OpenCV, NumPy, Matplotlib</li>
      <li>🛠️ 仿真 & 建模：COMSOL, CAD, Blender</li>
      <li>🌐 工具与平台：Git, LaTeX, GitHub</li>
    </ul>
    <!-- <p>🏆 个人荣誉：</p>
    <ul>
      <li>全国大学生光电设计竞赛 三等奖</li>
      <li>全国大学生物理实验竞赛 三等奖</li>
      <li>上海市大学生物理实验竞赛 一等奖</li>
      <li>校级优秀学生、优秀奖学金二等奖</li>
    </ul> -->
  </div>
  
  <div class="posts">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>